* {
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

header {
	display:flex ;
	justify-content: space-between;
	background: #eee;
	height: 2.5em;
	align-items: center;
	margin-bottom: 20px;
}

header ul {
	display: flex;
	margin-right: 15px;
}

header li {
	padding: 8px;
	list-style: none;
}

.logo a {
	color:darkcyan;
	text-decoration: none;
	margin-left: 15px;
}

ul li a {
	color: darkcyan;
	text-decoration: none;
}

main {
	margin: 0 auto;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5rem;
}

.item {
	height: 401px;
	border-radius: 15px;
	padding: 12px;
	background: #eee;
}

.one {
	background: darkcyan;
	column-span: span 2;
	grid-column: 1 /  3;
}